@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Valores desde appsetings.json</h3>
Mensaje: @ViewBag.mensaje <br/>
<h3>Mensajes</h3>
mensaje1: @ViewBag.super1<br/>
mensaje2: @ViewBag.super2<br/>
mensaje3: @ViewBag.super3<br/>

informacion: @ViewBag.level<br />